{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "standard-with-typescript"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "project": ["./front-end/tsconfig.json", "./back-end/tsconfig.json"],
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": [2, "always"],
        "quotes": [2, "double"],
        "spaced-comment": ["error", "always", { "line": { "exceptions": ["-"] } }],
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/semi": "off",
        "@typescript-eslint/space-before-function-paren": "off",
        "@typescript-eslint/quotes": "off"
    },
    "overrides": [
        {
            "files": ["./back-end/src/database/migrations/*"],
            "rules": {
                "@typescript-eslint/return-await": "off"
            }
        }
    ]
}
