/*************************/
/****** Global CSS ******/
/*************************/
body{
    background: #121212 !important;
}

.btn-inactive{
    pointer-events: none;
}

/*************************/
/********* Home *********/
/*************************/
.background{
    background-image: url("./assets/background.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: calc(100vh - 60px);
}

.home-boxes-container{
    min-height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.home-box{
    backdrop-filter: blur(5px) saturate(150%);
    -webkit-backdrop-filter: blur(5px) saturate(150%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);


    box-sizing: content-box;
    height: 30em;
    width: 40em;
    border-radius: 1vw;
    margin: 1em;

    display: table;
    text-align: center;
}

.home-box > div{
    vertical-align: middle;
    display: table-cell;
}

.landing-description{
    margin: 0em 1em 1vh 1em;
    color: white;
    text-align: start;
}

.features-list{
    text-align: start;
    margin-left: 3em;
}

.features-list > li{
    color: white;
}

.login-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    padding: 0vw 3vw 2vh 6vw;
}

.login-register h1{
    display: inline-block;
    font-size: 2.5em;
    color: white !important;
}

.login-register h1:hover{
    opacity: 0.75;
}

.login-register h1:active{
    opacity: 0.50;
}

.login-register .selected{
    border-bottom: 2px solid white;
}

.login-register .not-selected{
    border-bottom: 0px solid white;
}

.form-group{
    display: inline-block;
    width: 80%;
}

.form-group > *{
    margin-top: 1em;
}
