/*************************/
/******* Global CSS *******/
/*************************/

body{
    background: #121212 !important;
}

.btn-inactive{
    pointer-events: none;
}

.settings-tab{
    font-size: 1.25em;
    margin-right: 1em;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlysupported by Chrome, Edge, Opera and Firefox */
  }

/*************************/
/********** Home **********/
/*************************/

.background{
    background-image: url("./assets/background.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: calc(100vh - 60px);
}

.home-boxes-container{
    min-height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.home-box{
    backdrop-filter: blur(5px) saturate(150%);
    -webkit-backdrop-filter: blur(5px) saturate(150%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);


    box-sizing: content-box;
    height: 30em;
    width: 40em;
    border-radius: 1vw;
    margin: 1em;

    display: table;
    text-align: center;
}

.home-box > div{
    vertical-align: middle;
    display: table-cell;
}

.landing-description{
    margin: 0em 1em 1vh 1em;
    color: white;
    text-align: start;
}

.features-list{
    text-align: start;
    margin-left: 3em;
}

.features-list > li{
    color: white;
}

.logged-in-text{
    color: white;
    font-size: 4em;
}

.login-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    padding: 0vw 3vw 2vh 6vw;
}

.login-register h1{
    display: inline-block;
    font-size: 2.5em;
    color: white !important;
}

.login-register h1:hover{
    opacity: 0.75;
}

.login-register h1:active{
    opacity: 0.50;
}

.login-register .selected{
    border-bottom: 2px solid white;
}

.login-register .not-selected{
    border-bottom: 0px solid white;
}

.form-group{
    display: inline-block;
    width: 80%;
}

.form-group > *{
    margin-top: 1em;
}

/****************************/
/***** EquityCalculator *****/
/****************************/

.eq-calc-container{
    text-align: center;
}

.player-bar{
    margin: 0.5em;
    width: 95%;
    justify-content: center;
}

.player-bar-btn{
    max-width: fit-content;
    font-size: 1em !important;
}

.player-bar-range{
    width: 50em;
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.player-bar-calc-vals{
    font-size: xx-small !important;
}

.player-range-modal-square:hover{
    background-color: yellow !important;
    filter: brightness(75%);
}

.player-range-modal-square:active{
    background-color: yellow !important;
    filter: brightness(50%);
}

/*************************/
/********* Board *********/
/*************************/

.board{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0px !important;
}

.board:hover{
    filter: brightness(75%);
}

.board:active{
    filter: brightness(50%);
}

.board-playing-card{
    width: calc(3vh + 3vw) !important;
    margin-inline: 1vw;
    padding: 0px !important;
}

.board-modal-card{
    text-align: center;
    font-size: 0.75em;
    padding-inline: 0.5vw !important;
}

.board-modal-card.black{
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    margin: 1px;
}

.board-modal-card.red{
    display: inline-block;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    margin: 1px;
}

.board-modal-card:hover{
    background-color: #C0C0C0;
    filter: brightness(75%);
}

.board-modal-card:active{
    filter: brightness(50%);
}

/*************************/
/****** RangeChart ******/
/*************************/

.range-chart-container{
    margin-top: 1em;
}

.square{
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 1px;
    padding: 0px !important;
    width: calc(1.6vh + 1.6vw) !important;
    height: calc(1.6vh + 1.6vw) !important;
    font-size: calc(0.625vh + 0.625vw) !important;
    color: black;
    text-shadow: #F8F9FA;
}

/*************************/
/******** Settings *******/
/*************************/

.settings-page-container{
    padding: 1vh 1vw 1vh 1vw;
}

.settings-tab-container{
    margin: 2vh 2vw 2vh 2vw;
}

.settings-tab-container li{
    font-size: calc(0.75vw + 0.75vh);
    width: max-content;
    margin-bottom: 0.75vh;
    color: #FFFFFF8C;
}

.settings-tab-container li:hover{
    opacity: 0.75;
}

.settings-tab-container li:active{
    opacity: 0.50;
}

.settings-tab-selected{
    color: white !important;
}

.settings-subpage-container{
    width: 100%;
    min-height: calc(96vh - 50px);
    padding: 2vh 2vw 2vh 2vw;
    color: white;
    border-left: 1px solid white;
}

.settings-subpage-header{
    font-size: calc(2vw + 1vh);
    text-align: center;
}

.settings-ad-container{
    padding-left: 2.5vh;
}

.settings-ad-sub-container{
    padding: 1vh 0 1vh 0;
}

.settings-ad-sub-container span{
    font-size: calc(0.5vw + 1vh);
}

.settings-ad-user-info{
    opacity: 0.5;
}

.settings-ad-form-container{
    padding-left: 2em;
    width: 50vw;
}

.settings-ad-form-item{
    padding: 0.5vw 0.75vw 0.5vw 0.75vw;
    font-size: calc(0.5vw + 1vh);
}

.settings-subscription-button{
    text-align: center;
}

.settings-s-container{
    margin-top: 33vh;
    text-align: center;
}

.settings-mc-container{
    margin: 2em;
}

.settings-mc-chart-item{
    width: 50vw;
    font-size: calc(0.5vw + 1.25vh);
}

.settings-mc-chart-item-delete{
    cursor: pointer;
    float: right;
    color: #DC3545;
}

.settings-mc-chart-item-delete:hover{
    opacity: 0.75;
}

.settings-mc-chart-item-delete:active{
    opacity: 0.50;
}

.settings-mc-chart-tip{
    margin: 0.25vh;
    text-align: center;
    font-size: calc(0.5vw + 0.75vh);;
    opacity: 0.33;
}

.settings-mc-upload-chart{
    margin-top: 2.5vh;
    text-align: center;
}

.settings-mc-upload-chart-item{
    margin: 0 0.25vw 0 0.25vw;
    min-width: 6vw;
    font-size: calc(0.6vw + 0.75vh);
}

.settings-tos-content{
    padding: 1vh 1vw 1vh 1vw;
}


.settings-tos-paragraph{
    margin: 1vh 1vw 1vh 1vw;
    font-size: calc(0.5vw + 1vh);
    color: gray;
}
